@import "tailwindcss";
/* Fake placeholder for date input */
.date-input:invalid::before {
  content: attr(placeholder);
  color: #9ca3af; /* Tailwind gray-400 */
}

.date-input:valid::before {
  content: "";
}